@import "tailwindcss";

@theme {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #ffffff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 0.4s ease;
  --font-primary: "Poppins", sans-serif;


}

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  color: var(--color-white);
  transition: var(--transition);
  line-height: 1.7;
  background-image: url(assets/bg-texture.png);
}

h1, h2, h3, h4, h5, h6 {
  @apply font-medium
}

h1 {
  @apply text-5xl
}

.container {
  @apply my-0 mx-auto w-4/5 sm:w-9/10 lg:w-85/100  
}

a {
  color: var(--color-primary);
  transition: var(--transition);
  @apply hover:text-white
}

.btn {
  transition: var(--transition);
  @apply w-max py-0.5 px-5 border rounded-lg cursor-pointer border-solid border-primary hover:bg-white hover:border-transparent hover:text-primary text-white bg-primary 
}

img {
  @apply block object-cover 
}

section {
  @apply sm:pt-15 lg:pt-18
}
